/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@theme {
  --color-brand-blue: #1a5baa;
  --color-brand-red: #cc2436;
  --color-brand-gray: #c5c6c7;
}
